<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vendor/jquery/jquery.min.js"></script>
</head>
<body>
<ul id="messages"></ul>
<form class="t1" action="">
    <input id="m" autocomplete="off" /><button>Send</button>
</form>
<!--<form class="t2" action="">-->
<!--    <input id="m" autocomplete="off" /><button>Send</button>-->
<!--</form>-->
<script src="../node_modules/socket.io-client/dist/socket.io.js"></script>
<script>
$(function () {

    var socket = io();
    $('.t1').submit(function(e) {
        e.preventDefault(); // prevents page reloading
        socket.emit('search', $('#m').val());
        return false;
    });
    socket.on('searchRes',(data)=>{
        console.log(data);
    })
    // $('.t2').submit(function(e) {
    //     e.preventDefault(); // prevents page reloading
    //     socket.emit('setHome',$('#m').val());
    //     return false;
    // });
});
</script>
</body>
</html>