#map-container{
    height: calc(100% - 4.5rem);
}

#map {
    height: 100%;
}
.menu {
    width: 150px;
    box-shadow: 3px 3px 5px #888888;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 2px;
    position: fixed;
    display: none;
}

/*.menu-item {*/
/*    height: 120px;*/
/*    background-color: white;*/
/*}*/

/*.menu-item:hover {*/
/*    background-color: #6CB5FF;*/
/*    cursor: pointer;*/
/*}*/